<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e8470df2a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo-buscador">
            <img class="mercado-liebre" src="./images/logo-mercado-liebre.svg">
            <form>
                <label for="search">
                    <input type="text" name="search" id="search" placeholder="Buscar productos, marcas">
                </label>
                    <button class="buscador"><i class="fas fa-search"></i></button>
            </form>
            <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprar en cuotas y sin tarjeta de crédito</p>
        </div>
        <ul class="menu">
            <li><a href="http://">Ofertas</a></li>
            <li><a href="http://">Tiendas oficiales</a></li>
            <li><a href="http://">Vender</a></li>
            <li><a href="http://">Ayuda</a></li>
            <br>
            <li><a href="http://">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
            <li><a href="http://">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="http://">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="img-header">
        <img src="./images/img-home-banner.jpg">
    </div>
    <main>
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <div class="contenedor-mercado">
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-cafetera-moulinex.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF </p>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-macbook-pro-2019.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off </p>
                <h3 class="descripcion">Macbook Pro 2019</h3>
            </div>
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-samsung-galaxy-s10.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off </p>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-tv-samsung-smart.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off </p>
                <h3 class="descripcion">SmartTV Samsung 43"</h3>
            </div>
        </div>
        <h2 class="titulares">Ofertas</h2>
        <div class="contenedor-mercado">
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-cafetera-moulinex.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p>$6.770</p>
                <p class="descuentos">40% OFF </p>
                <h3 class="descripcion">Cafetera Moulinex</h3>
            </div>
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-macbook-pro-2019.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off </p>
                <h3 class="descripcion">Macbook Pro 2019</h3>
            </div>
            <div class="contenedor-producto">
                <img class="producto" src="./images/img-samsung-galaxy-s10.jpg">
                <i class="fas fa-truck" id="camion"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off </p>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer2">
            <div class="contenedor-footer">
                <i class="fas fa-credit-card" id="primero"></i>
                <h2>Pagá con tarjeta en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="contenedor-footer">
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde los $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="contenedor-footer">
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>